/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#wrap {
    width: 100%;
}

/* 동일한 속성 사용 선택자 나열 */
.util_menu ul,
.logo_area,
.gnb_area,
.gnb_area_inner,
.gnb_area ul,
.weather_info_area,
.contents_area,
.news_slide_area,
.quick_news,
.category ul,
.title_area,
.title_area ul,
.news_card_list ul,
.news_card_list ul li,
.today_article .title_area div,
.category_tab ul,
.category_tab ul li,
.main_articles,
.card,
.login_bottom,
.title_group,
.shop_group ul,
.shop_tab ul,
.footer_banner,
.footer_banner_item,
.footer_menu_area,
.footer_menu_area dl,
.project,
.footer_utils_menu ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


.header_area {
    /* background: red; */
    width: 1130px;
    margin: 0 auto;
}

.header_area .util_menu {
    /* background: yellow; */
    margin: 10px 0;
    margin-bottom: 30px;
}

.header_area .util_menu ul {
    align-items: center;
    justify-content: flex-end;
}

.header_area .util_menu ul li {
    margin-left: 10px;
    font-size: 13px;
}


.header_area .logo_area {
    align-items: center;
    justify-content: center;
}

.header_area .logo_area .logo {
    margin-right: 30px;
}

.header_area .logo_area input[type="text"] {
    width: 400px;
    height: 56px;
    padding: 10px;
    font-size: 20px;
    border: 3px solid green;
}


.gnb_area {
    align-items: center;
    justify-content: center;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    height: 52px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.gnb_area_inner {
    align-items: center;
    width: 1130px;
    height: 100%;
}

.gnb_area ul {
    align-items: center;
    font-size: 17px;
    font-weight: bold;
}

.gnb_area .fix_menu li a {
    color: green;
}

.gnb_area .favorit_menu li a {
    color: black;
}

.gnb_area ul li {
    margin-right: 10px;
}

.gnb_area .weather_info_area {
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    width: 150px;
}


.contents_area {
    align-items: flex-start;
    justify-content: space-between;
    width: 1130px;
    margin: 0 auto;
}

.contents_area .main_contents {
    /* background: aquamarine; */
    width: 750px;
}

.main_contents .news_stand {
    /* background: red; */
}

.main_contents .news_stand .news_slide_area {
    align-items: center;
    background: #eeeeee;
    padding: 12px;
    border: 1px solid #cccccc;
    margin: 20px 0;
}

.news_slide_area .quick_news {
    align-items: center;
    margin-right: auto;
}

.news_slide_area .category ul {
    align-items: center;
}

.news_stand_list .title_area {
    align-items: center;
    margin-bottom: 20px;
}

.news_stand_list .title_area p {
    margin-right: auto;
}

.news_stand_list .title_area ul {
    align-items: center;
}

.news_stand_list .news_card_list ul {
    align-items: center;
    flex-wrap: wrap;
}

.news_stand_list .news_card_list ul li {
    width: 125px;
    height: 65px;
    border: 1px solid #cccccc;
    align-items: center;
    justify-content: center;
}

.today_article {
    margin: 20px 0;
}

.today_article .title_area {
    align-items: center;
    margin-bottom: 10px;
}

.today_article .title_area div {
    align-items: center;
    margin-left: auto;
}

.today_article .category_tab  {
    margin-bottom: 20px;
}

.today_article .category_tab ul {
    align-items: center;
}

.today_article .category_tab ul li {
    width: 94px;
    height: 45px;
    border: 1px solid #cccccc;
    align-items: center;
    justify-content: center;
}

.main_articles {
    align-items: flex-start;
    justify-content: space-between;
}

.main_articles .select_article {
    width: 364px;
}

.main_articles .card_area {
    width: 364px;
}

.card {
    align-items: flex-start;
    margin-bottom: 20px;
}

.card img {
    margin-right: 20px;
}


.category_contents_list {
    border-top: 1px solid #cccccc;
    padding-top: 20px;
    margin-top: 20px;
}



.contents_area .aside_area {
    width: 350px;
}

.aside_area .login_area {
    background: #f7f9fa;
    border: 1px solid #dae1e6;
    padding: 16px 16px 12px 17px;
    margin-bottom: 10px;
}

.aside_area .login_area button {
    border: none;
    width: 100%;
    height: 48px;
    background: #19ce60;
    color: white;
    text-align: center;
    margin: 10px 0;
}

.aside_area .login_area .login_bottom p {
    font-size: 13px;
}

.aside_area .login_area .login_bottom p:last-child {
    margin-left: auto;
}

.shopping_area {
    /* background: blue; */
    margin-top: 20px;
}

.shopping_area .shop_group {
    margin-top: 10px;
    border: 1px solid #cccccc;
    /* padding: 10px; */
}

.shopping_area .shop_group>ul {
    background: #eeeeee;
    padding: 10px;
    font-size: 12px;
    flex-wrap: wrap;
}

.shopping_area .shop_group>ul li {
    padding: 5px 10px;
    text-align: center;
}

.shopping_area .item_area {
    padding: 0 10px;
}

.shopping_area .item_area ul {
    flex-wrap: wrap;
    justify-content: space-between;
}

.shopping_area .item_area ul li {
    margin: 20px 0;
}




.footer_area {
    margin-top: 30px;
    border-top: 1px solid #cccccc;
    background: #fafbfc;
    padding: 20px;
}

.footer_banner {
    width: 1130px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer_banner_item {
    width: 100%;
}

.footer_banner_item img {
    margin-right: 20px;
}

.footer_menu_area {
    width: 1130px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #cccccc;
}

.footer_menu_area dl {
    margin-bottom: 10px;
}

.footer_menu_area dt {
    font-weight: bold;
    min-width: 130px;
}

.footer_menu_area dd {
    margin-right: 20px;
    color: #888888;
}

.footer_menu_area .project {
    margin-left: auto;
}

.footer_utils_menu {
    width: 1130px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 12px;
}

.footer_utils_menu li {
    margin-right: 20px;
}